.sidebar {
    position: fixed;
    top: 0;
    width: 200px;
    height: 1000px;
    background-color: #178383;



    a {
        display: block;
        color: rgb(253, 249, 249);
        padding: 0.9em 0.8em;
        text-decoration: none;
        cursor: pointer;


    }
}

.content {

    margin-right: 300px;
    padding: 0.4em;
    ;
}